
body {
    font-family: 'Roboto Mono', Helvetica, sans-serif;
    font-weight: 100;
    font-size: 100%;
    font-style: normal;
    min-width: 600px;
    margin: 0;
    text-align: center;
    color: #1c1c1c;
}

a {
    text-decoration: none;
    color: #1c1c1c;
}
a:hover
{
    color: rgb(88, 88, 88);
}

#main_title {
    font-family: Roboto, Helvetica, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 100px;
    
    
}
#main_nav{
    margin-top: 5px;
    margin-right: 5px;
}



#home_logo{
    display: inline-block;
    width: 45%;
    text-align: left;
    font-size: 16px;
}



#nav_links {
    display: inline-block;
    
    text-align: right;
    width: 45%;
}

#nav_links a {
    margin-left: 10px;
    margin-right: 10px;
    
}







#projects {
    margin-left: auto;
    margin-right:auto;
    width: 720px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 12px;
}

.project_preview{
   margin-top: 10px;
   margin-bottom: 10px;
    position: relative;  
    
}

.project_preview img {
     width: 340px;
     height: 340px;
     object-fit:cover;    
     transition: filter 0.2s;
     filter: grayscale(0);
    
}

.project_preview img:hover{   
    filter: grayscale(1); 
}


#projects h1 {
    
}

.caption
{
    width: 100%;
    text-align: center;
    left: 0px;
    position: absolute;
    bottom: 5px;
    color: white;
    font-weight: 100;
    font-size: 15px;
    
}

#about_page{
    margin-top: 100px;
    margin-left: auto;
    margin-right:auto;
    width: 720px;
    display: grid;
    grid-template-columns: auto auto;
   
}

#headshot{
    
    width: 350px;
    
}
#headshot img{
    
    width: 100%;
    
}

#intro_paragraph{
    
    width: 350px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
    word-wrap: break-word;
}

#project_page{
    max-width: 720px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#project_page h2{
    font-size: 16px;
    font-weight: 100;
}

#project_page p{
    font-size: 12px;
    margin-bottom: 40px;
}
#project_page img{
    max-width: 100%;
}

@media (max-width:720px)
{
    #projects {
        width: 360px;
        grid-template-columns: auto;
    }
}
@media (min-width:1080px) {
    #projects {
        width: 1080px;
        grid-template-columns: auto auto auto;
    }
}
